/* line 1, ../scss/style.scss */
html {
  overflow: scroll !important;
}

/* line 5, ../scss/style.scss */
body {
  background: #ddd;
}

/* line 9, ../scss/style.scss */
.loading {
  background-image: url("../img/loading.gif");
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  width: 100px;
  height: 100px;
  top: 40%;
  left: 35%;
  border-radius: 20px;
  box-shadow: 1px 1px 5px #000;
  position: absolute;
  z-index: 999999;
  color: #fff;
  text-align: center;
}

/* line 26, ../scss/style.scss */
.article-iframe {
  position: absolute;
  z-index: 9999999999999;
  width: 100px;
  height: 100px;
}

/* line 33, ../scss/style.scss */
.loginscreen {
  width: 100%;
  height: 100%;
  background: url("../images/9-1fit.png") no-repeat center center fixed;
  /*background-color:red;*/
  z-index: 9;
  position: fixed;
  /*	img{
  		width:100%;
  		z-index:-99;
  		position:absolute;
  	}*/
}
/* line 47, ../scss/style.scss */
.loginscreen .logincontent {
  width: 100%;
}
/* line 50, ../scss/style.scss */
.loginscreen .logincontent img {
  margin-left: 25%;
  margin-top: 150px;
}
/* line 56, ../scss/style.scss */
.loginscreen .logincontent p.logtext {
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #FFF;
  margin-left: 25%;
  margin-top: 25px;
}
/* line 64, ../scss/style.scss */
.loginscreen .logincontent p.logtext2 {
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #FFF;
}
/* line 70, ../scss/style.scss */
.loginscreen .logincontent .fbbutton {
  width: 80%;
  height: 30px;
  background-color: #4792D8;
  border-color: none;
  margin-top: 60px;
  margin-left: 10%;
  padding-top: 4px;
  font-size: 15px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #FFF;
}
/* line 85, ../scss/style.scss */
.loginscreen .logincontent .gbutton {
  width: 80%;
  height: 30px;
  background-color: #c03929;
  border-color: #a42113;
  margin-top: 5px;
  margin-left: 10%;
  padding-top: 4px;
  font-size: 15px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #FFF;
}
/* line 101, ../scss/style.scss */
.loginscreen .logincontent .embutton {
  width: 80%;
  height: 30px;
  background-color: #eee;
  border-color: #ccc;
  margin-top: 5px;
  margin-left: 10%;
  padding-top: 4px;
  font-size: 15px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #888;
}

/* line 120, ../scss/style.scss */
#site_container {
  width: 100%;
  padding-top: 70px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  /* visited link */
  /* mouse over link */
  /* selected link */
}
/* line 125, ../scss/style.scss */
#site_container a:link {
  color: #000;
  text-decoration: none;
}
/* line 131, ../scss/style.scss */
#site_container a:visited {
  color: #000;
  text-decoration: none;
}
/* line 137, ../scss/style.scss */
#site_container a:hover {
  color: #000;
  text-decoration: none;
}
/* line 143, ../scss/style.scss */
#site_container a:active {
  color: #000;
  text-decoration: none;
}
/* line 150, ../scss/style.scss */
#site_container .chunk {
  /*margin-top:-34px;*/
  box-shadow: 0px 1px 1px #888888;
  padding-top: 10px;
  padding-right: 20px;
  margin: 0 0 5px 0;
  /*.col-xs-9 article {
  	padding-left: 200px;
  	padding-right: -200px;
  }*/
}
/* line 157, ../scss/style.scss */
#site_container .chunk .article-image {
  margin-left: -10px;
}
/* line 162, ../scss/style.scss */
#site_container .chunk .textcontent {
  width: 100%;
  margin-top: -5px;
}
/* line 167, ../scss/style.scss */
#site_container .chunk p.articletitle {
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 35px;
}
<<<<<<< HEAD
/* line 154, ../scss/style.scss */
=======
/* line 174, ../scss/style.scss */
>>>>>>> FETCH_HEAD
#site_container .chunk p.textcontent {
  font-weight: 400;
  font-size: 13px;
  margin-top: auto;
}
<<<<<<< HEAD
/* line 160, ../scss/style.scss */
=======
/* line 180, ../scss/style.scss */
>>>>>>> FETCH_HEAD
#site_container .chunk p.footnotetext {
  margin-left: 35px;
}
<<<<<<< HEAD
/* line 165, ../scss/style.scss */
=======
/* line 184, ../scss/style.scss */
>>>>>>> FETCH_HEAD
#site_container .chunk img {
  /*float:left;*/
  width: 90px;
  height: 82px;
  /*max-height: 80px;*/
  margin-left: -2px;
  margin-right: 25px;
  /*padding-top:5px;*/
  margin-top: 2px;
  margin-bottom: auto;
  /*height:auto !important;*/
  border-radius: 5px;
}
<<<<<<< HEAD
/* line 185, ../scss/style.scss */
=======
/* line 204, ../scss/style.scss */
>>>>>>> FETCH_HEAD
#site_container .chunk .article {
  height: 90px;
}
<<<<<<< HEAD
/* line 190, ../scss/style.scss */
=======
/* line 210, ../scss/style.scss */
>>>>>>> FETCH_HEAD
#site_container .chunk small.footnote {
  position: absolute;
  bottom: -10px;
  /*margin-top:50px;*/
}

<<<<<<< HEAD
/* line 204, ../scss/style.scss */
=======
/* line 223, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.divideline {
  width: 95%;
  margin: 0 auto;
  height: 1px;
  background-color: #ddd;
  margin-top: 15px;
}

<<<<<<< HEAD
/* line 212, ../scss/style.scss */
=======
/* line 231, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu {
  width: 70%;
  min-height: 100%;
  /*display:none;*/
  position: absolute;
  margin-left: -100%;
  padding-top: 15px;
  background: #fff;
  z-index: 9;
  overflow: scroll;
}
<<<<<<< HEAD
/* line 224, ../scss/style.scss */
=======
/* line 243, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .done {
  width: 95%;
  height: 30px;
  background-color: #4792D8;
  border-color: none;
  margin-top: 20px;
  margin-left: 5px;
  padding-top: 4px;
  font-size: 16px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #FFF;
}
<<<<<<< HEAD
/* line 238, ../scss/style.scss */
=======
/* line 257, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .tags {
  width: 95%;
  height: 30px;
  background-color: #ddd;
  color: #333;
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 4px;
  padding-right: 15%;
  font-size: 16px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 1px solid;
  border-radius: 0px;
  border-color: #aaa;
}
<<<<<<< HEAD
/* line 254, ../scss/style.scss */
=======
/* line 273, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .tags .tags-add {
  width: 20px;
  float: left;
  background-image: url("../images/add.png");
  background-size: 100%;
  height: 20px;
}
<<<<<<< HEAD
/* line 261, ../scss/style.scss */
=======
/* line 280, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .tags .tags-minus {
  width: 15px;
  float: left;
  background-image: url("../images/uparrow.png");
  background-size: 100%;
  height: 15px;
  margin-top: 2px;
}
<<<<<<< HEAD
/* line 271, ../scss/style.scss */
=======
/* line 290, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags {
  width: 95%;
  height: 340px;
  background-color: #eee;
  margin-top: -10px;
  margin-left: 5px;
}
<<<<<<< HEAD
/* line 278, ../scss/style.scss */
.flyoutmenu .menutags .input-group {
  width: 95%;
}
/* line 282, ../scss/style.scss */
=======
/* line 297, ../scss/style.scss */
.flyoutmenu .menutags .input-group {
  width: 95%;
}
/* line 301, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .form-control {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
<<<<<<< HEAD
/* line 289, ../scss/style.scss */
=======
/* line 308, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .input-group .form-control:last-child, .flyoutmenu .menutags .input-group-addon:last-child, .flyoutmenu .menutags .input-group-btn:last-child > .btn, .flyoutmenu .menutags .input-group-btn:last-child > .btn-group > .btn, .flyoutmenu .menutags .input-group-btn:last-child > .dropdown-toggle, .flyoutmenu .menutags .input-group-btn:first-child > .btn:not(:first-child), .flyoutmenu .menutags .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
<<<<<<< HEAD
/* line 294, ../scss/style.scss */
=======
/* line 313, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .input-group .form-control:first-child, .flyoutmenu .menutags .input-group-addon:first-child, .flyoutmenu .menutags .input-group-btn:first-child > .btn, .flyoutmenu .menutags .input-group-btn:first-child > .btn-group > .btn, .flyoutmenu .menutags .input-group-btn:first-child > .dropdown-toggle, .flyoutmenu .menutags .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .flyoutmenu .menutags .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
<<<<<<< HEAD
/* line 299, ../scss/style.scss */
=======
/* line 318, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .singleitem {
  width: 95%;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
<<<<<<< HEAD
/* line 305, ../scss/style.scss */
=======
/* line 324, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .singleitem .sitename {
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
<<<<<<< HEAD
/* line 314, ../scss/style.scss */
=======
/* line 333, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .singleitem .onoffswitch {
  float: right;
  margin-right: 5px;
}
<<<<<<< HEAD
/* line 319, ../scss/style.scss */
=======
/* line 338, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .singleitem input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
<<<<<<< HEAD
/* line 325, ../scss/style.scss */
=======
/* line 344, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .singleitem input#toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 25px;
  width: 50px;
  border-radius: 15px;
}
<<<<<<< HEAD
/* line 335, ../scss/style.scss */
=======
/* line 354, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .singleitem input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
<<<<<<< HEAD
/* line 350, ../scss/style.scss */
=======
/* line 369, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .singleitem input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
<<<<<<< HEAD
/* line 366, ../scss/style.scss */
=======
/* line 385, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .singleitem input#toggle:checked + label:before {
  width: 50px;
  background: #13bf11;
}
<<<<<<< HEAD
/* line 371, ../scss/style.scss */
=======
/* line 390, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menutags .singleitem input#toggle:checked + label:after {
  left: 30px;
  box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}
<<<<<<< HEAD
/* line 380, ../scss/style.scss */
=======
/* line 399, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .sites {
  width: 95%;
  height: 30px;
  background-color: #ddd;
  color: #333;
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 4px;
  padding-right: 15%;
  font-size: 16px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 1px solid;
  border-color: #aaa;
  border-radius: 0px;
}
<<<<<<< HEAD
/* line 396, ../scss/style.scss */
=======
/* line 415, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .sites .sites-add {
  width: 20px;
  float: left;
  background-image: url("../images/add.png");
  background-size: 100%;
  height: 20px;
}
<<<<<<< HEAD
/* line 404, ../scss/style.scss */
=======
/* line 423, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .sites .sites-minus {
  width: 15px;
  float: left;
  background-image: url("../images/uparrow.png");
  background-size: 100%;
  height: 15px;
  margin-top: 2px;
}
<<<<<<< HEAD
/* line 414, ../scss/style.scss */
=======
/* line 433, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites {
  width: 95%;
  height: 340px;
  background-color: #eee;
  margin-top: -10px;
  margin-left: 5px;
}
<<<<<<< HEAD
/* line 422, ../scss/style.scss */
.flyoutmenu .menusites .input-group {
  width: 95%;
}
/* line 426, ../scss/style.scss */
=======
/* line 441, ../scss/style.scss */
.flyoutmenu .menusites .input-group {
  width: 95%;
}
/* line 445, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .form-control {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
<<<<<<< HEAD
/* line 433, ../scss/style.scss */
=======
/* line 452, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .input-group .form-control:last-child, .flyoutmenu .menusites .input-group-addon:last-child, .flyoutmenu .menusites .input-group-btn:last-child > .btn, .flyoutmenu .menusites .input-group-btn:last-child > .btn-group > .btn, .flyoutmenu .menusites .input-group-btn:last-child > .dropdown-toggle, .flyoutmenu .menusites .input-group-btn:first-child > .btn:not(:first-child), .flyoutmenu .menusites .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
<<<<<<< HEAD
/* line 438, ../scss/style.scss */
=======
/* line 457, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .input-group .form-control:first-child, .flyoutmenu .menusites .input-group-addon:first-child, .flyoutmenu .menusites .input-group-btn:first-child > .btn, .flyoutmenu .menusites .input-group-btn:first-child > .btn-group > .btn, .flyoutmenu .menusites .input-group-btn:first-child > .dropdown-toggle, .flyoutmenu .menusites .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .flyoutmenu .menusites .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
<<<<<<< HEAD
/* line 443, ../scss/style.scss */
=======
/* line 462, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .singleitem {
  width: 95%;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
<<<<<<< HEAD
/* line 449, ../scss/style.scss */
=======
/* line 468, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .singleitem .sitename {
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
<<<<<<< HEAD
/* line 458, ../scss/style.scss */
=======
/* line 477, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .singleitem .onoffswitch {
  float: right;
  margin-right: 5px;
}
<<<<<<< HEAD
/* line 463, ../scss/style.scss */
=======
/* line 482, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .singleitem input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
<<<<<<< HEAD
/* line 469, ../scss/style.scss */
=======
/* line 488, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .singleitem input#toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 25px;
  width: 50px;
  border-radius: 15px;
}
<<<<<<< HEAD
/* line 479, ../scss/style.scss */
=======
/* line 498, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .singleitem input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
<<<<<<< HEAD
/* line 494, ../scss/style.scss */
=======
/* line 513, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .singleitem input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
<<<<<<< HEAD
/* line 510, ../scss/style.scss */
=======
/* line 529, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .singleitem input#toggle:checked + label:before {
  width: 50px;
  background: #13bf11;
}
<<<<<<< HEAD
/* line 515, ../scss/style.scss */
=======
/* line 534, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .menusites .singleitem input#toggle:checked + label:after {
  left: 30px;
  box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}
<<<<<<< HEAD
/* line 525, ../scss/style.scss */
=======
/* line 544, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .loginsmtext {
  font-size: 14px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 15px;
}
<<<<<<< HEAD
/* line 533, ../scss/style.scss */
=======
/* line 552, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .smcontainer {
  width: 100%;
  margin-left: 5px;
  margin-top: 5px;
}
<<<<<<< HEAD
/* line 539, ../scss/style.scss */
=======
/* line 558, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.flyoutmenu .smicon {
  width: 35px;
  margin-right: 2px;
  margin-bottom: 10px;
}

<<<<<<< HEAD
/* line 548, ../scss/style.scss */
=======
/* line 567, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.grayout {
  width: 100%;
  min-height: 100%;
  display: none;
  position: fixed;
  background: #000;
  z-index: 8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
}

/* Title Bar */
<<<<<<< HEAD
/* line 560, ../scss/style.scss */
=======
/* line 579, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar {
  background: #fff;
  padding-top: 15px;
  height: 65px;
  box-shadow: 0px 1px 1px #888888;
  position: fixed;
  z-index: 1;
  width: 100%;
  /* Search Bar */
  					/*.searchslide {
  					    position: absolute;
  					    left: 5px;
  					    top: 9px;
  					    right: 0;
  					    width: 20px;
  					}
  
  					.slid-left {
  					    left: 50px !important;
  					}
  					.slid-right {
  					    left: 110px !important;
  					}*/
  /* expanding input CSS only */
}
<<<<<<< HEAD
/* line 569, ../scss/style.scss */
=======
/* line 588, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar .title {
  font-size: 22px;
  text-align: center;
  padding-top: 17px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #000;
}
<<<<<<< HEAD
/* line 578, ../scss/style.scss */
=======
/* line 598, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar .login {
  width: 28px;
  margin: 13px 0 0 15px;
  position: absolute;
}
<<<<<<< HEAD
/* line 584, ../scss/style.scss */
=======
/* line 604, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar .search {
  width: 25px;
  position: absolute;
  right: 0;
  margin: -24px 12px 0 280px;
}
<<<<<<< HEAD
/* line 593, ../scss/style.scss */
=======
/* line 613, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar .wrapper {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 60px;
  margin-top: -47px;
  margin-left: 70px;
  /*border-radius: 5px;*/
}
<<<<<<< HEAD
/* line 602, ../scss/style.scss */
=======
/* line 622, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar #search-text {
  /*  position: float;
    bottom: 10px;
    font-size: 30px;
    font-family: arial;
    color: #DDDDDD;*/
  transition: .45s;
}
<<<<<<< HEAD
/* line 611, ../scss/style.scss */
.titlebar .search-transition {
  opacity: 0.0;
}
/* line 615, ../scss/style.scss */
=======
/* line 631, ../scss/style.scss */
.titlebar .search-transition {
  opacity: 0.0;
}
/* line 635, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar #slide-left {
  position: absolute;
  /*background: #BDB5C2;*/
  width: 200px;
  height: 40px;
  bottom: 10px;
  /*border-radius: 5px;*/
  transition: .45s;
  left: 205px;
  text-align: center;
}
<<<<<<< HEAD
/* line 626, ../scss/style.scss */
.titlebar .slide-left-secondary {
  left: 75px !important;
}
/* line 629, ../scss/style.scss */
=======
/* line 646, ../scss/style.scss */
.titlebar .slide-left-secondary {
  left: 75px !important;
}
/* line 649, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar #slide-right {
  position: absolute;
  /*background: #F9F7FA;*/
  width: 200px;
  height: 40px;
  bottom: 10px;
  /*border-radius: 5px;*/
  transition: .45s;
  left: 240px;
  text-align: center;
  border-left: 1px solid black;
}
<<<<<<< HEAD
/* line 641, ../scss/style.scss */
=======
/* line 661, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar input {
  position: absolute;
  left: 35px;
  top: 10px;
  width: 150px;
  height: 25px;
  font-size: 13px;
  /*border: none;*/
  border-radius: 5px;
  border-width: 1px;
  border-color: #eee !important;
}
<<<<<<< HEAD
/* line 670, ../scss/style.scss */
=======
/* line 674, ../scss/style.scss */
.titlebar .searchslide {
  position: absolute;
  left: 5px;
  top: 9px;
  right: 0;
  width: 25px;
}
/* line 682, ../scss/style.scss */
.titlebar .slid-left {
  left: 50px !important;
}
/* line 685, ../scss/style.scss */
.titlebar .slid-right {
  left: 110px !important;
}
/* line 690, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar .back {
  width: 20px;
  margin: 18px 0 0 10px;
  position: absolute;
}
<<<<<<< HEAD
/* line 676, ../scss/style.scss */
=======
/* line 696, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar .share {
  width: 25px;
  position: absolute;
  right: 0;
  margin: -27px 10px 0 280px;
}
<<<<<<< HEAD
/* line 686, ../scss/style.scss */
=======
/* line 706, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar #myInput {
  width: 30px;
  -webkit-transition: width 0.3s ease-in-out;
}
<<<<<<< HEAD
/* line 690, ../scss/style.scss */
=======
/* line 710, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.titlebar #myInput:focus {
  width: 100%;
  -webkit-transition: width 0.5s ease-in-out;
}

<<<<<<< HEAD
/* line 696, ../scss/style.scss */
=======
/* line 716, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.article-container {
  padding-top: 65px;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */
}
<<<<<<< HEAD
/* line 700, ../scss/style.scss */
=======
/* line 720, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.article-container a:link {
  color: #000;
  text-decoration: none;
}
<<<<<<< HEAD
/* line 706, ../scss/style.scss */
=======
/* line 726, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.article-container a:visited {
  color: #000;
  text-decoration: none;
}
<<<<<<< HEAD
/* line 712, ../scss/style.scss */
=======
/* line 732, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.article-container a:hover {
  color: #000;
  text-decoration: none;
}
<<<<<<< HEAD
/* line 718, ../scss/style.scss */
=======
/* line 738, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.article-container a:active {
  color: #000;
  text-decoration: none;
}
<<<<<<< HEAD
/* line 724, ../scss/style.scss */
=======
/* line 744, ../scss/style.scss */
>>>>>>> FETCH_HEAD
.article-container .article-list {
  height: 100%;
  		/*.single {
  			height:100px;
  			background-color:#fff;
  			margin-top:5px;
  			box-shadow: 0px 1px 1px #888888;
  
  			p.articletitle{
  			font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  			font-weight: 500;
  			font-size: 15px;
  			margin-left: 105px;
  			padding-top: 9px;
  			}
  
  			p.articlebody{
  			font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  			font-weight: 400;
  			font-size: 13px;
  			margin-left: 105px;
  			margin-right:10px;
  			margin-top: -3px;
  			}
  
  			p.articlesite{
  			font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  			font-weight: 400;
  			font-size: 13px;
  			margin-left: 110px;
  			margin-right:10px;
  			margin-top: -3px;
  			}
  
  			.varible{
  				margin-top:-7px;
  			}
  			.variablelist li{
  			display: inline;
  			list-style-type: none;
  			font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  			font-weight: 400;
  			font-size:13px;
  			color:#aaa;
  			margin-left: 10px;
  			margin-right:7px;
  			padding-right: 2px;
  			}
  
  			.placeholderimage {
  			width:90px;
  			height:90px;
  			background-color:#aaa;
  			margin-left: 5px;
  			margin-top: 5px;
  			float:left;
  			}	
  		}*/
}
