/* line 1, ../scss/style.scss */
body {
  background: #ddd;
}

/* line 5, ../scss/style.scss */
#site_container {
  width: 100%;
  padding-top: 75px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  /* visited link */
  /* mouse over link */
  /* selected link */
}
/* line 10, ../scss/style.scss */
#site_container a:link {
  color: #000;
  text-decoration: none;
}
/* line 16, ../scss/style.scss */
#site_container a:visited {
  color: #000;
  text-decoration: none;
}
/* line 22, ../scss/style.scss */
#site_container a:hover {
  color: #000;
  text-decoration: none;
}
/* line 28, ../scss/style.scss */
#site_container a:active {
  color: #000;
  text-decoration: none;
}
/* line 35, ../scss/style.scss */
#site_container .chunk {
  /*margin-top:-34px;*/
  box-shadow: 0px 1px 1px #888888;
  padding-top: 10px;
  padding-right: 20px;
  margin: 0 0 10px 0;
  /*.col-xs-9 article {
  	padding-left: 200px;
  	padding-right: -200px;
  }*/
}
/* line 43, ../scss/style.scss */
#site_container .chunk .textcontent {
  width: 100%;
  margin-top: -5px;
}
/* line 48, ../scss/style.scss */
#site_container .chunk p.articletitle {
  font-weight: 500;
  font-size: 14px;
  margin-top: 1px;
}
/* line 54, ../scss/style.scss */
#site_container .chunk p.textcontent {
  font-weight: 400;
  font-size: 13px;
  margin-top: auto;
}
/* line 60, ../scss/style.scss */
#site_container .chunk p.footnotetext {
  /*margin-top:-5px;
  margin-bottom:auto;*/
}
/* line 65, ../scss/style.scss */
#site_container .chunk img {
  /*float:left;*/
  width: 80px;
  min-height: 70px;
  /*max-height: 80px;*/
  margin-left: 0px;
  margin-right: 15px;
  /*padding-top:5px;*/
  margin-top: auto;
  margin-bottom: auto;
  /*height:auto !important;*/
  border-radius: 5px;
}
/* line 85, ../scss/style.scss */
#site_container .chunk .article {
  min-height: 90px;
  max-height: 200px;
}
/* line 91, ../scss/style.scss */
#site_container .chunk small.footnote {
  position: absolute;
  bottom: 8px;
}

/* line 104, ../scss/style.scss */
.divideline {
  width: 95%;
  margin: 0 auto;
  height: 1px;
  background-color: #ddd;
  margin-top: 15px;
}

/* line 112, ../scss/style.scss */
.menu {
  width: 70%;
  min-height: 100%;
  /*display:none;*/
  position: absolute;
  margin-left: -100%;
  padding-top: 15px;
  background: #fff;
  z-index: 9;
  overflow: scroll;
}
/* line 124, ../scss/style.scss */
.menu .done {
  width: 95%;
  height: 30px;
  background-color: #4792D8;
  border-color: none;
  margin-top: 20px;
  margin-left: 5px;
  padding-top: 4px;
  font-size: 16px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #FFF;
}
/* line 138, ../scss/style.scss */
.menu .tags {
  width: 95%;
  height: 30px;
  background-color: #ddd;
  color: #333;
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 4px;
  padding-right: 15%;
  font-size: 16px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 1px solid;
  border-radius: 0px;
  border-color: #aaa;
}
/* line 154, ../scss/style.scss */
.menu .tags .tags-add {
  width: 20px;
  float: left;
  background-image: url("../images/add.png");
  background-size: 100%;
  height: 20px;
}
/* line 161, ../scss/style.scss */
.menu .tags .tags-minus {
  width: 15px;
  float: left;
  background-image: url("../images/uparrow.png");
  background-size: 100%;
  height: 15px;
  margin-top: 2px;
}
/* line 171, ../scss/style.scss */
.menu .menutags {
  width: 95%;
  height: 340px;
  background-color: #eee;
  margin-top: -10px;
  margin-left: 5px;
}
/* line 178, ../scss/style.scss */
.menu .menutags .input-group {
  width: 95%;
}
/* line 182, ../scss/style.scss */
.menu .menutags .form-control {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 189, ../scss/style.scss */
.menu .menutags .input-group .form-control:last-child, .menu .menutags .input-group-addon:last-child, .menu .menutags .input-group-btn:last-child > .btn, .menu .menutags .input-group-btn:last-child > .btn-group > .btn, .menu .menutags .input-group-btn:last-child > .dropdown-toggle, .menu .menutags .input-group-btn:first-child > .btn:not(:first-child), .menu .menutags .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 194, ../scss/style.scss */
.menu .menutags .input-group .form-control:first-child, .menu .menutags .input-group-addon:first-child, .menu .menutags .input-group-btn:first-child > .btn, .menu .menutags .input-group-btn:first-child > .btn-group > .btn, .menu .menutags .input-group-btn:first-child > .dropdown-toggle, .menu .menutags .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .menu .menutags .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 199, ../scss/style.scss */
.menu .menutags .singleitem {
  width: 95%;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
/* line 205, ../scss/style.scss */
.menu .menutags .singleitem .sitename {
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
/* line 214, ../scss/style.scss */
.menu .menutags .singleitem .onoffswitch {
  float: right;
  margin-right: 5px;
}
/* line 219, ../scss/style.scss */
.menu .menutags .singleitem input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
/* line 225, ../scss/style.scss */
.menu .menutags .singleitem input#toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 25px;
  width: 50px;
  border-radius: 15px;
}
/* line 235, ../scss/style.scss */
.menu .menutags .singleitem input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 250, ../scss/style.scss */
.menu .menutags .singleitem input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 266, ../scss/style.scss */
.menu .menutags .singleitem input#toggle:checked + label:before {
  width: 50px;
  background: #13bf11;
}
/* line 271, ../scss/style.scss */
.menu .menutags .singleitem input#toggle:checked + label:after {
  left: 30px;
  box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 280, ../scss/style.scss */
.menu .sites {
  width: 95%;
  height: 30px;
  background-color: #ddd;
  color: #333;
  margin-top: 10px;
  margin-left: 5px;
  padding-top: 4px;
  padding-right: 15%;
  font-size: 16px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 1px solid;
  border-color: #aaa;
  border-radius: 0px;
}
/* line 296, ../scss/style.scss */
.menu .sites .sites-add {
  width: 20px;
  float: left;
  background-image: url("../images/add.png");
  background-size: 100%;
  height: 20px;
}
/* line 304, ../scss/style.scss */
.menu .sites .sites-minus {
  width: 15px;
  float: left;
  background-image: url("../images/uparrow.png");
  background-size: 100%;
  height: 15px;
  margin-top: 2px;
}
/* line 314, ../scss/style.scss */
.menu .menusites {
  width: 95%;
  height: 340px;
  background-color: #eee;
  margin-top: -10px;
  margin-left: 5px;
}
/* line 322, ../scss/style.scss */
.menu .menusites .input-group {
  width: 95%;
}
/* line 326, ../scss/style.scss */
.menu .menusites .form-control {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 333, ../scss/style.scss */
.menu .menusites .input-group .form-control:last-child, .menu .menusites .input-group-addon:last-child, .menu .menusites .input-group-btn:last-child > .btn, .menu .menusites .input-group-btn:last-child > .btn-group > .btn, .menu .menusites .input-group-btn:last-child > .dropdown-toggle, .menu .menusites .input-group-btn:first-child > .btn:not(:first-child), .menu .menusites .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 338, ../scss/style.scss */
.menu .menusites .input-group .form-control:first-child, .menu .menusites .input-group-addon:first-child, .menu .menusites .input-group-btn:first-child > .btn, .menu .menusites .input-group-btn:first-child > .btn-group > .btn, .menu .menusites .input-group-btn:first-child > .dropdown-toggle, .menu .menusites .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .menu .menusites .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 343, ../scss/style.scss */
.menu .menusites .singleitem {
  width: 95%;
  height: 20px;
  margin-left: 5px;
  margin-top: 5px;
}
/* line 349, ../scss/style.scss */
.menu .menusites .singleitem .sitename {
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
/* line 358, ../scss/style.scss */
.menu .menusites .singleitem .onoffswitch {
  float: right;
  margin-right: 5px;
}
/* line 363, ../scss/style.scss */
.menu .menusites .singleitem input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}
/* line 369, ../scss/style.scss */
.menu .menusites .singleitem input#toggle + label {
  display: block;
  position: relative;
  box-shadow: inset 0 0 0px 1px #d5d5d5;
  text-indent: -5000px;
  height: 25px;
  width: 50px;
  border-radius: 15px;
}
/* line 379, ../scss/style.scss */
.menu .menusites .singleitem input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0;
  border-radius: 15px;
  background: rgba(19, 191, 17, 0);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 394, ../scss/style.scss */
.menu .menusites .singleitem input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 0;
  left: 0px;
  border-radius: 15px;
  background: white;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/* line 410, ../scss/style.scss */
.menu .menusites .singleitem input#toggle:checked + label:before {
  width: 50px;
  background: #13bf11;
}
/* line 415, ../scss/style.scss */
.menu .menusites .singleitem input#toggle:checked + label:after {
  left: 30px;
  box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
}
/* line 425, ../scss/style.scss */
.menu .loginsmtext {
  font-size: 14px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin-left: 5px;
  margin-top: 15px;
}
/* line 433, ../scss/style.scss */
.menu .smcontainer {
  width: 100%;
  margin-left: 5px;
  margin-top: 5px;
}
/* line 439, ../scss/style.scss */
.menu .smicon {
  width: 35px;
  margin-right: 2px;
  margin-bottom: 10px;
}

/* line 448, ../scss/style.scss */
.grayout {
  width: 100%;
  min-height: 100%;
  display: none;
  position: fixed;
  background: #000;
  z-index: 8;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
}

/* Title Bar */
/* line 460, ../scss/style.scss */
.titlebar {
  background: #fff;
  padding-top: 15px;
  height: 65px;
  box-shadow: 0px 1px 1px #888888;
  position: fixed;
  z-index: 1;
  width: 100%;
  /* Search Bar */
  /* expanding input CSS only */
}
/* line 469, ../scss/style.scss */
.titlebar .title {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #222;
}
/* line 479, ../scss/style.scss */
.titlebar .login {
  width: 30px;
  margin: 12px 0 0 15px;
  position: absolute;
}
/* line 485, ../scss/style.scss */
.titlebar .search {
  width: 30px;
  position: absolute;
  right: 0;
  margin: -27px 10px 0 280px;
}
/* line 494, ../scss/style.scss */
.titlebar .wrapper {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 60px;
  margin-top: -47px;
  margin-left: 70px;
  /*border-radius: 5px;*/
}
/* line 503, ../scss/style.scss */
.titlebar #search-text {
  /*  position: float;
    bottom: 10px;
    font-size: 30px;
    font-family: arial;
    color: #DDDDDD;*/
  transition: .45s;
}
/* line 512, ../scss/style.scss */
.titlebar .search-transition {
  opacity: 0.0;
}
/* line 516, ../scss/style.scss */
.titlebar #slide-left {
  position: absolute;
  /*background: #BDB5C2;*/
  width: 200px;
  height: 40px;
  bottom: 10px;
  /*border-radius: 5px;*/
  transition: .45s;
  left: 205px;
  text-align: center;
}
/* line 527, ../scss/style.scss */
.titlebar .slide-left-secondary {
  left: 75px !important;
}
/* line 530, ../scss/style.scss */
.titlebar #slide-right {
  position: absolute;
  /*background: #F9F7FA;*/
  width: 200px;
  height: 40px;
  bottom: 10px;
  /*border-radius: 5px;*/
  transition: .45s;
  left: 240px;
  text-align: center;
  border-left: 1px solid black;
}
/* line 542, ../scss/style.scss */
.titlebar input {
  position: absolute;
  left: 35px;
  top: 10px;
  width: 150px;
  height: 25px;
  font-size: 13px;
  /*border: none;*/
  border-radius: 5px;
  border-width: 1px;
  border-color: #eee !important;
}
/* line 555, ../scss/style.scss */
.titlebar .searchslide {
  position: absolute;
  left: 5px;
  top: 9px;
  right: 0;
  width: 25px;
}
/* line 563, ../scss/style.scss */
.titlebar .slid-left {
  left: 50px !important;
}
/* line 566, ../scss/style.scss */
.titlebar .slid-right {
  left: 110px !important;
}
/* line 571, ../scss/style.scss */
.titlebar .back {
  width: 20px;
  margin: 18px 0 0 10px;
  position: absolute;
}
/* line 577, ../scss/style.scss */
.titlebar .share {
  width: 25px;
  position: absolute;
  right: 0;
  margin: -27px 10px 0 280px;
}
/* line 587, ../scss/style.scss */
.titlebar #myInput {
  width: 30px;
  -webkit-transition: width 0.3s ease-in-out;
}
/* line 591, ../scss/style.scss */
.titlebar #myInput:focus {
  width: 100%;
  -webkit-transition: width 0.5s ease-in-out;
}

/* line 597, ../scss/style.scss */
.article-container {
  padding-top: 65px;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */
}
/* line 601, ../scss/style.scss */
.article-container a:link {
  color: #000;
  text-decoration: none;
}
/* line 607, ../scss/style.scss */
.article-container a:visited {
  color: #000;
  text-decoration: none;
}
/* line 613, ../scss/style.scss */
.article-container a:hover {
  color: #000;
  text-decoration: none;
}
/* line 619, ../scss/style.scss */
.article-container a:active {
  color: #000;
  text-decoration: none;
}
/* line 625, ../scss/style.scss */
.article-container .article-list {
  height: 100%;
  		/*.single {
  			height:100px;
  			background-color:#fff;
  			margin-top:5px;
  			box-shadow: 0px 1px 1px #888888;
  
  			p.articletitle{
  			font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  			font-weight: 500;
  			font-size: 15px;
  			margin-left: 105px;
  			padding-top: 9px;
  			}
  
  			p.articlebody{
  			font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  			font-weight: 400;
  			font-size: 13px;
  			margin-left: 105px;
  			margin-right:10px;
  			margin-top: -3px;
  			}
  
  			p.articlesite{
  			font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  			font-weight: 400;
  			font-size: 13px;
  			margin-left: 110px;
  			margin-right:10px;
  			margin-top: -3px;
  			}
  
  			.varible{
  				margin-top:-7px;
  			}
  			.variablelist li{
  			display: inline;
  			list-style-type: none;
  			font-family: 'Avenir Next', Helvetica, Arial, sans-serif;
  			font-weight: 400;
  			font-size:13px;
  			color:#aaa;
  			margin-left: 10px;
  			margin-right:7px;
  			padding-right: 2px;
  			}
  
  			.placeholderimage {
  			width:90px;
  			height:90px;
  			background-color:#aaa;
  			margin-left: 5px;
  			margin-top: 5px;
  			float:left;
  			}	
  		}*/
}

/* TEST TOGGLE 2 */
/* line 696, ../scss/style.scss */
input[type="checkbox"] {
  appearance: none;
  background-color: #fafafa;
  border: 1px solid lightgrey;
  border-radius: 26px;
  box-shadow: inset 0 0 0 1px lightgrey;
  cursor: pointer;
  height: 28px;
  position: relative;
  transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
  width: 44px;
  vertical-align: top;
  float: right;
  margin-top: 0;
  /* THE ACTUAL CIRCLE OF THE SWITCH */
  /* Green Active Area */
}
/* line 715, ../scss/style.scss */
input[type="checkbox"]:after {
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 13px;
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
  content: '';
  display: block;
  height: 26px;
  left: 0;
  position: absolute;
  right: 16px;
  top: 0;
  transition: border 0.25s 0.15s, left 0.25s 0.1s, right 0.15s 0.175s;
}
/* line 734, ../scss/style.scss */
input[type="checkbox"]:checked {
  border-color: #53d76a;
  background: #53d76a;
  box-shadow: inset 0 0 0 15px #53d76a;
  padding-left: 18px;
  transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
}
/* line 743, ../scss/style.scss */
input[type="checkbox"]:checked:after {
  border-color: #53d76a;
  left: 16px;
  right: 0;
  transition: border 0.25s, left 0.15s 0.25s, right 0.25s 0.175s;
}
